.box {
  height: 100vh;
  width: 100%;
  overflow-x: auto;
}

@media only screen and (min-width: 1400px) {
  .box {
    height: 100vh;
    width: 100%;
    overflow-x: auto;
  }
}

@media only screen and (min-width: 1540px) {
  .box {
    height: 100vh;
    width: 100%;
    overflow-x: auto;
  }
}
@media only screen and (device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) {
  .box {
    height: 916px;
    width: 100%;
    overflow-x: auto;
  }
}
@media only screen and (device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) {
  .box {
    height: 845px;
    width: 100%;
    overflow-x: auto;
  }
}
